<h3>Log in</h3>

<form
  action = "/log_in"
  method = "POST"
  autocomplete = "on"
  class="form-inline" 
  role="form"
>

  <div 
    class="form-group"
    class="sr-only" 
    for="exampleInputEmail2"
  >

    <label class="sr-only" >User name</label>
    <input 
      name = "email" 
      type="email" 
      class="form-control" 
      id="exampleInputEmail2" 
      placeholder="Enter email"
    >
    
    <label class="sr-only" >Password</label>
    <input 
      name = "password" 
      type="password" 
      class="form-control" 
      id="exampleInputPassword2"
      placeholder="Enter password"
    >

    <input 
      type = "submit" 
      value = "Submit" 
      class="btn btn-default"
    >

  </div>
</form>