<h3>Sign up</h3>

<form
  action = "/sign_up"
  method = "POST"
  autocomplete = "on"
  class="form-inline"
  role="form"
>
  <div
    class = "form-group"
    for = "exampleInputEmail2"
  >
    <label class="sr-only" >Email address</label>
    <input 
      autofocus
      placeholder = "Enter email"
      type = "email"
      name = "email"
      class = "form-control"
      id = "exampleInputEmail2" 
      value = "<%= @user.email %>"
      >
      
    <label class="sr-only" >Password</label>
    <input
      autofocus 
      placeholder = "Enter password"
      type = "password"
      name = "password" 
      class = "form-control"
      id = "exampleInputEmail2"
      value = "<%= @user.password %>"
    >

    <input 
      type = "submit" 
      value = "Submit"
      class="btn btn-default"
    >
  </div>

</form>